body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.App {
    margin-left: 1%;
}

ul {
    list-style: none;
}

.header img {
    width: 100%;
}

.menu {
    margin-left: 1%;
}

.menu h1 {
    font-size: 215%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.menu p {
    font-size: 130%;
}

.menu ul {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    padding: 0;
}

.menu ul li {
    min-width: 19%;
    font-size: 150%;
    margin-right: 10px;
}

.menu-button button {
    color: white;
    background-color: #2D2D2D;
    border: none;
    border-radius: 2px;
    padding: 4px;
    height: 120%;
    width: 100%;
}

#all button {
    background-color: #A89158;
}

button:active {
    background-color: #A89158;
}

.selected-items-menu {
    margin: 1%;
    margin-bottom: 2%;
}

.selected-items-item {
    margin-left: 1%;
}

.items ul {
    padding: 0;
    margin: 10px;
}

.items ul li {
    margin-bottom: 15px;
}

.item {
    display: flex;
    flex-direction: row;
}

.image-container {
    width: 40%;
    height: 300px;
    overflow: hidden;
}

.item img {
    width: 100%;
    height: 100%;
}


.item-details {
    margin-left: 1%;
    width: 69%;
}

.item-details h1 {
    font-size: 175%;
    margin-top: 0;
    margin-bottom: 5%;
}

.reviews {
    display: flex;
    flex-direction: row;
}

.reviews-icon {
    width: 3%;
    height: 3%;
}

.reviews-icon img {
    width: 100%;
    height: 100%;
}

.reviews-number {
    margin-top: 1%;
    margin-left: 0.5%;
    font-size: 95%;
}

.check-write-reviews {
    display: flex;
    flex-direction: row;
    margin-left: 3%;
}

.check-write-reviews p {
    margin-top: 4%;
    margin-right: 15px;
    font-size: 100%;
    color: #38A1ED;
}

.price-add {
    display: flex;
    flex-direction: row;
    margin-top: 17%;
}

.price {
    flex-basis: 85%;
    font-size: 130%;
}

.add {
    height: 35px;
    width: 15%;
    margin-top: 1.5%;
    margin-right: 1%;
    background-color: white;
    border: 1px solid rgb(103, 103, 103);
    border-radius: 2px;
}

.add_selected {
    display: flex;
    flex-direction: row;
}

.add_selected p {
    flex-basis: 33%;
    position: relative;
    bottom: 15%;
}

.footer {
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    position: sticky;
    bottom: 0;
    z-index: 1;
    background-color: white;
}

.subtotal {
    font-size: 140%;
    flex-basis: 86%;
    text-align: center;
    position: relative;
    left: 10%;
}

.footer button {
    width: 100%;
    font-size: 105%;
    font-weight: bold;
    margin-top: 8px;
    height: 50px;
    background-color: #2D2D2D;
    color: white;
    border-radius: 2px;
    position: relative;
    flex-basis: 14%;
    right: 0;
}

.prompt-box {
    position: absolute;
    background-color: white;
    border: 1px solid black;
    width: 50%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    top: 65%;
    left: 25%;
}

.x {
    position: relative;
    left: 95%;
    height: 10%;
}

.prompt-buttons {
    display: flex;
    flex-direction: row;
}

.prompt-buttons button {
    padding: 0;
    margin-right: 2%;
    border: none;
}

.prompt-buttons button img {
    width: 100%;
}

#name {
    width: 60%;
    height: 40px;
    border: 1px solid  rgb(120, 120, 120);
    margin-top: 3%;
    padding: 1%;
    font-size: 140%;
}

.review-specific {
    margin-bottom: 7%;
}

#review-text {
    width: 98%;
    height: 200px;
    margin-top: 2%;
    padding: 1%;
    border: 1px solid rgb(120, 120, 120);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 140%;
    resize: none;
}

.prompt-box form p {
    font-size: 120%;
}

#review-submit {
    width: 30%;
    padding: 1.5%;
    margin-top: 2%;
    font-size: 140%;
    font-weight: bold;
    background-color: white;
}

.review-name {
    margin-top: 2%;
    margin-bottom: 0;
}

.review-review {
    margin-top: 1%;
}

.review li {
    margin-bottom: 2%;
}

.go-back-home {
    color: #1C7BFD;
    flex-basis: 40%;
    text-align: right;
    position: relative;
    right: 1%;
    font-size: 125%;
    top: 7%;
}

.greyed {
    background-color: #ccc;
}



/* MEDIA QUERIES */

@media screen and (max-width: 400px) {
    .menu h1 {
        font-size: 160%;
    }

    .menu p {
        font-size: 80%;
    }

    .menu ul li {
        min-width: 19%;
        margin-right: 3px;
    }

    .menu ul li button {
        font-size: 33%;
        height: 100%;
    }

    .items ul li {
        margin-bottom: 5px;
    }

    .item {
        margin-bottom: 2%;
    }

    .image-container {
        width: 37%;
        height: 100px;
    }

    .item-details h1 {
        font-size: 100%;
    }

    .reviews {
        margin-bottom: 0;
    }

    .reviews-icon {
        width: 7%;
    }

    .reviews-icon img {
        width: 100%;
    }

    .reviews-number {
        font-size: 70%;
        margin-top: 2%;
    }

    .check-write-reviews p {
        font-size: 70%;
    }

    .price-add {
        margin-top: 0;
    }

    .price {
        margin-top: 13px;
        margin-bottom: 0;
        font-size: 95%;
    }

    .add {
        height: 20px;
        width: 20%;
        font-size: 65%;
    }

    .subtotal {
        font-size: 100%;
        left: 13%;
    }

    .selected-items-subtotal {
        left: 16%;
    }

    .footer button {
        font-size: 60%;
        height: 40px;
        width: 117%;
        position: relative;
        bottom: 10%;
        right: 20%;
    } 

    .prompt-box {
        top: 25%;
        width: 65%;
        left: 16%;
    }

    .x {
        width: 10%;
        left: 90%;
    }

    .prompt-box h1 {
        font-size: 140%;
    }

    .prompt-buttons button img {
        width: 100%;
    }

    #name {
        font-size: 100%;
        width: 65%;
    }

    #review-text {
        font-size: 100%;
    }

    #review-submit {
        font-size: 100%;
        height: 32px;
        width: 45%;
    }

    .review ul {
        padding: 0;
    }

    .review ul li img {
        width: 50%;
    }

    .review-name {
        font-size: 100%;
    }

    .review ul li p {
        font-size: 40%;
    }

    .selected-items-menu h1 {
        font-size: 150%;
    }

    .selected-items-menu {
        font-size: 85%;
    }

    .add_selected p {
        bottom: 41%;
    }

    .go-back-home-link {
        width: 41%;
    }

    .go-back-home {
        font-size: 90%;
        right: 4%;
        top: 5%;
    }
    
}

@media screen and (min-width: 400px) and (max-width: 500px) {
    .menu h1 {
        font-size: 160%;
    }

    .menu p {
        font-size: 100%;
    }

    .menu ul li {
        min-width: 19%;
        margin-right: 3px;
        height: 30px;
    }

    .menu ul li button {
        font-size: 40%;
        height: 100%;
    }

    .items ul li {
        margin-bottom: 5px;
    }

    .item {
        margin-bottom: 2%;
    }

    .image-container {
        width: 37%;
        height: 100px;
    }

    .item-details h1 {
        font-size: 100%;
    }

    .reviews {
        margin-bottom: 0;
    }

    .reviews-icon {
        width: 7%;
    }

    .reviews-icon img {
        width: 100%;
    }

    .reviews-number {
        font-size: 70%;
        margin-top: 2%;
    }

    .check-write-reviews p {
        font-size: 70%;
    }

    .price-add {
        margin-top: 0;
    }

    .price {
        margin-top: 13px;
        margin-bottom: 0;
        font-size: 95%;
    }

    .add {
        height: 20px;
        width: 20%;
        font-size: 65%;
    }

    .subtotal {
        font-size: 100%;
        left: 13%;
    }

    .selected-items-subtotal {
        left: 16%;
    }

    .footer button {
        font-size: 60%;
        height: 40px;
        width: 117%;
        position: relative;
        bottom: 10%;
        right: 20%;
    } 

    .prompt-box {
        top: 25%;
        width: 65%;
        left: 16%;
    }

    .x {
        width: 10%;
        left: 90%;
    }

    .prompt-box h1 {
        font-size: 140%;
    }

    .prompt-buttons button img {
        width: 100%;
    }

    #name {
        font-size: 100%;
        width: 65%;
    }

    #review-text {
        font-size: 100%;
    }

    #review-submit {
        font-size: 100%;
        height: 32px;
        width: 45%;
    }

    .review ul {
        padding: 0;
    }

    .review ul li img {
        width: 50%;
    }

    .review-name {
        font-size: 100%;
    }

    .review ul li p {
        font-size: 40%;
    }

    .selected-items-menu h1 {
        font-size: 150%;
    }

    .selected-items-menu {
        font-size: 85%;
    }

    .add_selected p {
        bottom: 41%;
    }

    .go-back-home-link {
        width: 41%;
    }

    .go-back-home {
        font-size: 90%;
        right: 4%;
        top: 5%;
    }
    
}

@media screen and (min-width: 1024px) {
    .footer button {
        height: 45px;
        font-size: 90%;
    }
}

